h1,
h2,
h3,
h4,
h5 {
  color: #4A4E69 !important;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

p {
  color: #4A4E69;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.profile-pic {
  box-shadow: 0px 4px 6px 2px lightgrey;
  border-radius: 50%
}

.m-t-1 {
  margin-top: 1em;
}

.p-t-1 {
  padding-top: 1em;
}


.about-me {
  margin-top: 25px;
}

.navbar-default {
  background-color: #C9ADA7;
  background: none;
  border: none;
  border-radius: 0;
}

.repo-row {
  padding: 65px 10px;
}

.repo-row:nth-child(odd) {
  background-color: lightgrey;
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  .row.vertical-align {
    display: block;
    /* Turn off the flexible box layout */
  }
}

.work-item-img {
  max-height: 480px;
  max-width: 80%;
}

.row-footer {
  /*	background-color: lightgrey;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);*/
  padding: 65px 10px;
}

.linkedin-btn {
  width: 140px;
  box-shadow: 0px 2px 5px 1px lightgrey;
  padding: 12px;
  border-radius: 5px;
}

.btn-launch {
  width: 100%;
  max-width: 200px;
  background-color: #549657;
  color: white;
  box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
  color: white;
  background: #3d7140;
}

.techUsed {
  font-size: 54px;
  padding: 40px 0 0;
}

.techUsed i {
  margin: 0 15px;
}

.toolsUsed {
  font-size: 100px;
  padding: 40px 0;
}

.toolsUsed i {
  margin: 0 15px;
}

.about {
  margin-bottom: 80px;
}